<div class="diary-grid">
  <div class="diary-card featured" *ngIf="diaryEntries.length" (click)="viewEntry(diaryEntries[0])">
    <div class="card-image">
    </div>

    <h2 class="card-title">{{ diaryEntries[0].title }}</h2>
    <p class="card-content">
      {{ diaryEntries[0].content | slice:0:150 }}
    </p>
  </div>

  <div class="diary-card" *ngFor="let entry of diaryEntries.slice(1); trackBy: trackById" (click)="viewEntry(entry)">
    <div class="card-image"></div>
    <h2 class="card-title">{{ entry.title }}</h2>
    <p class="card-content">
      {{ entry.content | slice:0:100 }}...
    </p>
  </div>
</div>